.controls {
  border-top: 3px solid black;
}
.controls button:active {
  background-color: gray;
  color: white;
}
.controls .add-btn {
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-family: monospace;
  font-size: 2.3rem;
  outline: none;
}

.controls .dot {
  margin-top: 10px;
  transform: translateX(161%);
}

.controls .add-runs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.controls .add-runs .add-btn {
  margin: 15px;
}

.controls .other {
  display: flex;
  justify-content: space-evenly;
}
.controls .other button {
  font-size: 20px;
  padding: 15px;
  border: none;
  outline: none;
}
