.controls {
  border-top: 3px solid black;
}

.controls .add-btn {
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-family: monospace;
  font-size: 2.3rem;
  outline: none;
}

.controls .dot {
  margin-top: 10px;
  transform: translateX(160%);
}

.controls .add-runs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.controls .add-runs .add-btn {
  margin: 15px;
}

.controls .wicket-btn {
  transform: translateX(70%);
  font-size: 20px;
  padding: 15px;
  border: none;
  outline: none;
}
